*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


h1 img{
    width: 100px;
}

ol,
ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li{
    margin: .8rem;
    font-size: 1.5rem;
}

ol li:hover{
    color: rgb(21, 146, 146);
}

ul li{
    margin: 0;
}

ul{
    display: inline;
}

.my_banner{
    padding: .6rem .2rem;
    font-size: 12px; 
}

.rounded{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.my_card{
    border: .5px solid grey;
    padding: .8rem;
}
