*{
    font-family: Arial, Helvetica, sans-serif;
}


h1 img{
    width: 100px;
}

ol,
ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li{
    margin: .8rem;
    font-size: 1.5rem;
}

li:hover{
    color: rgb(21, 146, 146);
}

